 /* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Gluten&family=Oswald&display=swap');
   
@import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap');

                         /* navbar css */
.icon{
    font-family: 'Gluten', cursive;
    font-size:x-large;
}
.mm{
    height:300px;
    width:400px;
}
.navbar{
    width:100%;
    z-index: 200;
}

                       /* scroll bar for table */

/* width */
.tables::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
.tables::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.tables::-webkit-scrollbar-thumb {
  background: #e4373a; 
  border-radius: 10px;
}

/* Handle on hover */
.tables::-webkit-scrollbar-thumb:hover {
  background: #8a0000; 
}

                  /* poster section css */
@import url('https://fonts.googleapis.com/css2?family=Gluten&family=Oswald&display=swap');
    .poster{
        
        background-color: black;
    background: url(./poster.jpg) no-repeat center center fixed; 
    height:500px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
      
}

/* all card */
.total{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
     padding-top: 100px;
     flex-grow: inherit;
     color:white;

}
.btn_reset{
  float: right;
}
.txt{
  font-weight: 400;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}
/* individual card */
.onposter{
  width:200px;
    height: 100px;
    margin: 10px;
    align-items: flex-end;
    justify-items: flex-end;
    margin-right: 50px;
    border-radius: 10px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* color: black; */
    font-family: 'Gluten', cursive;
font-family: 'Oswald', sans-serif;
font-size: 25px;
    color:black;


}
/* inside card  */
.elename{
align-self: center;
justify-self: center;
border-bottom: 1px solid black;
}

/* inside card */
.elevalue{
align-self: center;
justify-self: center;
}

        /* map css */

#map{
  height:400px;
    width:1000px;
}

.m{
  background-color: rgb(255, 249, 241);
}



.button{
    margin:15px;
    padding: 5px;
    border-radius: 5px;

}
                          /* table section css */
@media screen and (max-width:520px) {
    
    .table_body{
      font-size: 12px;
    }
  .btn_cases,.btn_death,.btn_reset{
    
      font-size: 15px;
      padding: 0px ;
      margin: 0px ;
    }
    .btn_reset{
      margin-bottom:5px;
      padding-bottom: 5px;
      margin-right: 10px;
    }
    
    .txt{
  font-weight: 400;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}

    .country_text{
  font-weight: 400;
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px;
}
.country{
   margin:10px 5px;
  padding: 5px 5px;
  font-size: 5px;
  width: 40%;
    font-family: 'Gluten', cursive;
    background-color: #e4373a;
    color: white;
}
 
}
.tables{
  width:100%;
  height:400px;
  position: relative;
  overflow: auto;
  font-size: 12px;
 
} 
            /* footer css */
.footer{
  background-color:rgb(219, 170, 105) ;
}

              /* contact us page css */
.about_poster{
          background-color: black;
    background: url(./contact.jpg) no-repeat center center fixed; 
    height:500px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.contact{
  width: 80%;
  margin:20px 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

#myInput{
  border-radius: 5px;
  width:100%
}
.button{
  padding:0px 10px;
}
.country{
  margin:10px 5px;
  padding: 5px 5px;
  font-size: 15px;
    font-family: 'Gluten', cursive;
    background-color: #e4373a;
    color: white;
}
.country_text{
  font-weight: 400;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}